/*BROAD STYLES*/
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

body {
  background-color: #C2B2B4;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

/*HEADER*/
.dark-background {
  background-color: #3E2A35;
  margin: 0;
  padding: 30px 30px 0 30px;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0;
}

.logo {
  margin: 0 5px 0 5px; 
  width: 45px;
}

label {
  color: #C2B2B4;
  display: block;
  margin: 20px 0 10px 0;
}

.flex-search {
  align-items: top;
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.search-input {
  border-radius: 5px 0 0 5px;
  border: 2px solid #C2B2B4;
  font-size: 15px;
  line-height: 1.4;
  width: 350px;
}

.search-input:placeholder {
  color: #C2B2B4;
}

.search-icon {
  width: 20px;
}

.search-button {
  background-color: #C2B2B4;
  border-radius: 0 5px 5px 0;
  border: none;
  margin: 0;
  padding: 10px;
  width: 40px;
}

/*FORM*/
form {
  margin: 10px auto 0 auto;
  padding: 20px;
  width: 60%;
}

.text-inputs {
  line-height: 1.3;
}

.form-buttons {
  background-color: #5B4447;
  border: none;
  color: white;
  margin: 20px 0;
  padding: 15px 15px;
  width: 40%;
}

.form-buttons:disabled {
  background-color: lightgrey;
}

.search-button:hover:enabled,
.form-buttons:hover:enabled {
  background-color: #938284;
}

.choose-label {
  background-color: #5B4447;
  border: none;
  color: white;
  display: block;
  margin-top: 40px;
  margin: 40px 0 20px 0;
  padding: 15px 15px;
  text-align: center;
  width: 100%;
}

.choose-label:hover {
  background-color: #938284;
}

.choose-input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

input {
  color: #3E2A35;
  display: block;
  font-size: 24px;
  padding: 5px;
  width: 100%;
}

/*CARDS*/
.card-section {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
}

.card-placeholder {
  animation-iteration-count: 2;
  animation: text-animate 3s;
  background-color: #C2B2B4;
  font-size: 28px;
  height: 200px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

@keyframes text-animate {
  0% {transform:scale(1);}
  50% {transform:scale(1.2); color: #e26d5a;}
  100% {transform:scale(1);}
}

.hide-placeholder {
  display: none;
}

.photo-card {
  background-color: white;
  border: 2px solid #938284;
  height: 400px;
  margin: 10px auto;
  position: relative;
  width: 280px;
}

.hidden {
  display: none;
}

.photo-card {
  animation: pop 1s 1;
  background-color: white;
}

@keyframes pop {
  from{transform:scale(0);}
  to{transform:scale(1);}
}

p {
  color: #3E2A35;
  font-size: 18px;
  margin: 10px;
  line-height: 1.3;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.photo-label {
  margin: 0;
  padding: 0;
}

.photo {
  height: 180px;
  object-fit: cover;
  width: 276px;
}

.photo:hover {
  opacity: 0.5;
}

.caption {
  hyphens: auto;
  overflow: hidden;
  text-align: justify;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-footer {
  background-color: #5B4447;
  bottom: 0;
  height: 50px;
  padding: 10px;
  position: absolute;
  width: 276px;
}

.icon-buttons {
  background-color: #5B4447;
  background-repeat: no-repeat;
  border: none;
  height: 35px;
  margin: 0;
  padding: 0;
  width: 40px;
}

.delete-button {
  background-image: url('assets/delete.svg');
  position: absolute;
  top: 8px;
}

.favorite-button {
  background-image: url('assets/favorite.svg');
  position: absolute;
  right: 10px;
  top: 8px;
}

.favorite-button-active {
  background-image: url('assets/favorite-active.svg');
}

.delete-button:hover {
  background-image: url('assets/delete-active.svg');
}

.favorite-button:hover {
  background-image: url('assets/favorite-active.svg');
}

.icon-buttons:hover {
  animation: icon-pop 1.5s 1;
}

@keyframes icon-pop {
  0% {transform:scale(1);}
  50% {transform:scale(1.4);}
  100% {transform:scale(1);}
}

.show-button {
  background-color: #5B4447;
  border: none;
  color: white;
  display: block;
  margin: 20px auto;
  padding: 8px;
  text-align: center;
}

.show-button:hover:enabled {
  background-color: #938284;
}

.show-button:disabled {
  background-color: lightgrey;
}

@media screen and (max-width: 1130px) {
  .card-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 850px) {
  header {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin: 0 auto 20px auto;
  }

  .flex-search {
    justify-content: center;
  }

  form {
    width: 100%;
  }

  .card-section {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 575px) {
  .card-section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .dark-background {
    padding-left: 5px;
    padding-right: 5px;
  }

  .search-input {
    width: 80%;
  }

  form {
    padding: 10px;
  }

  .bottom-buttons {
    flex-direction: column;
  }

  .form-buttons {
    margin: 10px 0;
    width: 100%;
  }

  .choose-label {
    margin-top: 20px;
  }

}

@media screen and (max-width: 400px) {
  .search-input {
    width: 80%;
  }

  h1 {
    font-size: 34px;
  }

  .logo {
    width: 35px;
  }
}








